 
body {
  background-color: black;
  color: yellow;
  font-family: Courier New, monospace;;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}
button {
  background-color: black;
  border: yellow;
  color: yellow;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.cool-hover {
  background-color: black;
  border: 2px solid yellow;
  color: yellow;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  transition: all 0.3s ease;
  cursor: pointer;
  text-shadow: 0 0 5px yellow;
  box-shadow: 0 0 10px yellow inset;
}

.cool-hover:hover {
  background-color: yellow;
  color: black;
  box-shadow: 0 0 20px yellow;
  text-shadow: none;
}
